/* Added Work Sans Font */
* {
    font-family: "Work Sans", sans-serif;
    margin: 0px;
    padding: 0px;
}

/* shared styles */

.btn-primary {
    color: #fff;
    background-color: #FF900E;
    border-radius: 6px;
    padding: 15px 20px;
    border: none;
    font-weight: 500;
    font-size: 13px;
    cursor: pointer;
}

.description {
    font-size: 12px;
    color: #95938F;
    margin-bottom: 20px;
    line-height: 20px;
}

/* header style */

header {
    background-color: #FFF4E7;
    padding: 40px 220px;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.nav-title {
    color: #131313;
    font-size: 2rem;
    font-weight: 700;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-left: 30px;
    font-weight: 500;
}

nav li a {
    text-decoration: none;
    color: #424242;
    font-size: 15px;
}

/* banner section */

.banner {
    max-width: 700px;
    text-align: center;
    margin: 0px auto;
}

.banner-title {
    font-size: 2.5rem;
    margin: 20px;
}

.banner-container img {
    margin-top: 30px;
    width: 100%;
}
/* Main content section  */

main{
    max-width: 1400px;
    margin: 50px auto;
}

.team-container{
    display: flex;
    align-items: center;
}
.team-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.1rem;
    padding-left: 120px;
}
.team-content-container{
    font-size: 1.8rem;
    padding-left: 70px;
    padding-right: 120px;

}
.team-content-title{
    margin-bottom: 20px;
}
.Quick-list{
    font-weight: 500;
    color: #757575;
}
.Features{
    color: #FF900E;
}


/* responsive media query */

/* small mobile device */

@media screen and (max-width:576px) {

    header {
        padding: 20px;
    }

    nav,
    .team-container {
        flex-direction: column;
        padding: 0px;
    }
    
    nav>ul {
        padding-top: 20px;
    }

    .team-img{
        grid-template-columns: repeat(1, 1fr);
        padding: 5px;
        margin-bottom: 30px;
    }
    main{
        text-align: center;
    }
}

/* medium device or tablet device */

@media screen and (min-width:576px) and (max-width: 960px) {

    header {
        padding: 20px;
    }

    nav,
    .team-container {
        flex-direction: column;
        padding: 0px;
    }

    nav>ul {
        padding-top: 20px;
    }

    .team-img{
        grid-template-columns: repeat(2, 1fr);
        padding: 0px 50px 40px 50px;
    }
    main{
        text-align: center;
    }
}